
body {
	background-image:linear-gradient(to bottom right, #33adff, #7300e6);
	background-repeat: no-repeat;
	font-family: sans-serif;
	display: flex;
	color: white;
}

h1 {
	font-family: sans-serif;
	font-size: 35px;
	text-align: center;
	margin: 20px 0px;
	cursor: default;
}

h4 {
	text-align: center;
	opacity: 0.9;
	margin-top: -20px;
}

hr {
	margin-bottom: 40px;
}

form {
	width: 80%;
	margin: 0 auto;
}

li {
	list-style: none;
	margin-left: -30px;
}

.container {
	background: #141414;
	opacity: 0.9;
	/*border: 1px solid black;*/
	padding: 30px;
	width: 600px;
	margin: auto;
	/*margin-top: 30px*/
	border-radius: 10px;
	/*box-shadow: 0px 0px 4px 5px #d4d2d2;*/
}

.webtext{
	border: 1px solid #999;
	padding: 3px 8px;
	border-radius: 5px;
	/*border-bottom: 1px solid black;*/
	width: 100%;
	margin: 5px 0px;
	margin-bottom: 20px;
	font-family: calibri;
	font-size: 115%;
	outline: none;
}

.contact {
	border: 1px solid #999;
	padding: 3px 8px;
	border-radius: 5px;
	width: 100%;
	margin: 5px 0px;
	margin-bottom: 5px;
	font-family: sans-serif;
	font-size: 110%;
	outline: none;
	text-align: left;
}

#hobby {
	border-radius: 5px;
	margin: 5px 0px;
	width: 100%;
	padding: 5px;
}

.button {
	background-color: indigo;
	border: none;
	color: white;
	font-size: 120%;
	padding: 10px 10px;
	margin: 20px auto;
	width: 100%;
	cursor: pointer;
	border-radius: 20px;
	transition: all 0.3s;
}

.button:hover {
	transform: scale(0.9);
}

.btn {
	background-color: red;
	border: none;
	color: white;
	font-size: 120%;
	padding: 10px 10px;
	width: 100%;
	cursor: pointer;
	border-radius: 20px;
	transition: all 0.3s;
}

.btn:hover {
	transform: scale(0.9);
}